<body>
<body class="body-login">
<nav class="transparent z-depth-0">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Agrognome</a>
  </div>
</nav>
<div class="materialContainer">

  <div class="box z-depth-5 ">

    <div class="title">Bienvenido!</div>

    <div class="input-field col s12" style="margin-top:35%">
      <i class="material-icons prefix">account_circle</i>
      <input id="icon_prefix" type="text" class="validate">
      <label for="icon_prefix">Correo Electronico</label>
    </div>

    <div class="input-field col s6">
      <i class="material-icons prefix">vpn_key</i>
      <input id="icon_prefix" type="password" class="validate">
      <label for="icon_prefix">Contraseña</label>
    </div>
    <div class="center">
      <input type="checkbox" id="test5" />
      <label for="test5">Recordarme</label>
    </div>
    <div class="center">
      <button class="btn waves-effect waves-light margin-login red darken-4" name="action">GOOGLE +
        <i class="left"><%=image_tag("google-plus-logo.png")%></i>
      </button>
    </div>

    <div class="center">
      <button class="btn waves-effect waves-light blue darken-4" type="submit" name="action">Ingresar
        <i class="material-icons right">done</i>
      </button>
    </div>

    <a href="" class="pass-forgot" id="olvido">¿Olvidaste tu contraseña?</a>

  </div>


  <div class="overbox">
    <div class="material-button alt-2"><span class="shape"></span></div>

    <div class="title">REGISTRO!</div>

    <div class="input">
      <label for="regname">Correo Electronico</label>
      <input type="text" name="regname" id="regname">
      <span class="spin"></span>
    </div>

    <div class="input">
      <label for="regpass">Contraseña</label>
      <input type="password" name="regpass" id="regpass">
      <span class="spin"></span>
    </div>

    <div class="input">
      <label for="reregpass">Confirme Contraseña</label>
      <input type="password" name="reregpass" id="reregpass">
      <span class="spin"></span>
    </div>

    <a href="registro.html"><div class="button">
      <button><span>Siguiente</span></button>
    </div>
    </a>

  </div>

</div>
</body>
</body>